<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/743258ae-eb1e-4bc3-809f-49c57df89c49/resourceGroups/SpaceXLaunchWatch/providers/Microsoft.Web/sites/SpaceXLaunchWatch</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://spacexlaunchwatch.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>8087d3f3-1f23-48fd-8b20-c875b4ed3875</ProjectGuid>
    <PublishUrl>https://spacexlaunchwatch.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SpaceXLaunchWatch</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>